.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  border-radius: 8px;
  padding: 20px;
  max-width: 600px; /* 最大幅を設定 */
  max-height: 80vh; /* 最大高さを設定 */
  overflow-y: auto; /* 縦方向のオーバーフローを自動でスクロール */
}